MONGODB_URI=mongodb://127.0.0.1:27017
DB_NAME=dacsan3mien
SESSION_SECRET=change_me
NODE_ENV=development
PORT=3002
CORS_ORIGIN=http://localhost:4200
FILESTACK_API_KEY=
FILESTACK_STORE_LOCATION=S3
FILESTACK_STORE_PATH=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
GEMINI_API_BASE_URL=https://generativelanguage.googleapis.com/v1beta
